* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2 {
    text-align: center;
    margin: 1rem 0 .5rem;
}

h2 {
    font-size: 1.25rem;
    color: rgb(17, 66, 36);
    text-align: center;
    margin-top: 10px;
}

img {
    width: 15em;
    height: 15rem;
    border: 1px solid lightblue;
    border-radius: 10%;
}

#filterPlants {
    align-self: center;
    align-items: center;
}

#plants {
    width: 100%;
    height: auto;
    margin: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5rem;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    
}

p {
    margin: .25rem
}

h3 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

footer {
    padding: 15px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: white;
}